[Bb]in/
[Oo]bj/
*.dll.config
*.exe.config
.vs/
*.suo
*.user
*.config
*.pdb
[Dd]ebug/
[Rr]elease/
TestResult.xml
*.trx
packages/
*.nupkg
*.snupkg
*.zip
*.tar.gz
*.rar
project.lock.json
*.log
Thumbs.db
.DS_Store
*.~
*.bak
.idea/
*.iws
*.iml
*.ipr
out/
*.DotSettings
*.userprefs
.vscode/
.secrets/

*.csv
